.footer {
    margin-top: 106px;
    padding: 30px 30px 37px;

    background-color: var(--background-grey);
    border-radius: 50px 50px 0 0;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.footer__logo {
    height: 41px;
}

.footer__copy {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}