.header {
    background-color: var(--background-grey);
    position: sticky;
    top: 0;
    z-index: 10;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__logo {
    height: 41px;
}

.header__list {
    display: flex;
    gap: 30px;
    padding-left: 0;
    list-style: none;
}

.header__item-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: var(--general-white);
    text-decoration: none;

    transition: color 0.4s ease-out, text-shadow 0.3s;
}

.header__item-link:hover,
.header__item-link:focus {
    color: var(--light-green);
}

.header__item-link:active {
    text-shadow: 1px -1px 1px #3a3c41;
}

.header__item-link--active {
    border-bottom: 1px solid var(--light-green);
}

.header__phone {
    text-decoration: none;
    color: var(--general-white);
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__phone:hover {
    color: var(--light-green);
}
